<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Church Me | Admin Login</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/agency.css" rel="stylesheet">
  </head>


  <body class="row login_page">
    <div class="login-page">
      <div class="login_form">
        if (message == "failed")
          <div class="alert alert-danger alert-dismissible"> You have entered an incorrect username or password.
            <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        else if (message == "logged_out")
          <div class="alert alert-success alert-dismissible"> You are now logged out.
            <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        <h1 class="login_header">
          <a href="/"> Church-<h1 class="login_header_2">Me</h1></a>
        </h1>

        <form class="login-form" action="/login" method="post">
          <input type="text" placeholder="username" name="user[username]" maxlength="255"/>
          <input type="password" placeholder="password" name="user[password]" maxlength="255"/>
          <button>login</button>
        </form>
      </div>
    </div>
  </body>

</html>
